In [73]:
import numpy as np # linear algebra
import pandas as pd #
import matplotlib.pyplot as plt
import seaborn as sns

# SKLearn libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import fetch_california_housing


import tensorflow as tf
from tensorflow import keras

import pickle

np.random.seed(0)

In [74]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [75]:
df =  pd.read_csv('/content/drive/MyDrive/houseing_clean.csv')
df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0,-122.23,37.88,41,880,129,322,126,8.33,452600.0,NEAR BAY
1,1,-122.22,37.86,21,7099,1106,2401,1138,8.30,358500.0,NEAR BAY
2,2,-122.24,37.85,52,1467,190,496,177,7.26,352100.0,NEAR BAY
3,3,-122.25,37.85,52,1274,235,558,219,5.64,341300.0,NEAR BAY
4,4,-122.25,37.85,52,1627,280,565,259,3.85,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
20635,20635,-121.09,39.48,25,1665,374,845,330,1.56,78100.0,INLAND
20636,20636,-121.21,39.49,18,697,150,356,114,2.56,77100.0,INLAND
20637,20637,-121.22,39.43,17,2254,485,1007,433,1.70,92300.0,INLAND
20638,20638,-121.32,39.43,18,1860,409,741,349,1.87,84700.0,INLAND
20639,20639,-121.24,39.37,16,2785,616,1387,530,2.39,89400.0,INLAND

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          20640 non-null  int64
 1   longitude           20640 non-null  float64
 2   latitude            20640 non-null  float64
 3   housing_median_age  20640 non-null  int64
 4   total_rooms         20640 non-null  int64
 5   total_bedrooms      20640 non-null  int64
 6   population          20640 non-null  int64
 7   households          20640 non-null  int64
 8   median_income       20640 non-null  float64
 9   median_house_value  20640 non-null  float64
 10  ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(6), object(1)
memory usage: 1.7+ MB

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          20640 non-null  int64
 1   longitude           20640 non-null  float64
 2   latitude            20640 non-null  float64
 3   housing_median_age  20640 non-null  int64
 4   total_rooms         20640 non-null  int64
 5   total_bedrooms      20640 non-null  int64
 6   population          20640 non-null  int64
 7   households          20640 non-null  int64
 8   median_income       20640 non-null  float64
 9   median_house_value  20640 non-null  float64
 10  ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(6), object(1)
memory usage: 1.7+ MB

In [78]:
df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0,-122.23,37.88,41,880,129,322,126,8.33,452600.0,NEAR BAY
1,1,-122.22,37.86,21,7099,1106,2401,1138,8.30,358500.0,NEAR BAY
2,2,-122.24,37.85,52,1467,190,496,177,7.26,352100.0,NEAR BAY
3,3,-122.25,37.85,52,1274,235,558,219,5.64,341300.0,NEAR BAY
4,4,-122.25,37.85,52,1627,280,565,259,3.85,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
20635,20635,-121.09,39.48,25,1665,374,845,330,1.56,78100.0,INLAND
20636,20636,-121.21,39.49,18,697,150,356,114,2.56,77100.0,INLAND
20637,20637,-121.22,39.43,17,2254,485,1007,433,1.70,92300.0,INLAND
20638,20638,-121.32,39.43,18,1860,409,741,349,1.87,84700.0,INLAND
20639,20639,-121.24,39.37,16,2785,616,1387,530,2.39,89400.0,INLAND

In [79]:
# Count null values in each column
null_counts = df.isnull().sum()

print(null_counts)

Unnamed: 0            0
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

# **DATA CLEANING**

In [80]:
# df['total_bedrooms'].mean()

In [81]:
# bedrooms_mean = df['total_bedrooms'].mean()
# df['total_bedrooms'] = df['total_bedrooms'].fillna(bedrooms_mean)
# df.isnull().sum()



---


# **Data Transformation**

In [82]:
# columns_to_convert = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_house_value', 'median_income']
# df[columns_to_convert] = df[columns_to_convert].astype(int)

In [83]:

unique_names = df["ocean_proximity"].unique()
unique_names

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [84]:
#Defining  mapping dictionaries
ocean_proximity_mapping = {'NEAR BAY':0, '<1H OCEAN':1, 'INLAND':2, 'NEAR OCEAN':3, 'ISLAND':4}



df['ocean_proximity'] = df['ocean_proximity'].map(ocean_proximity_mapping)

In [85]:
columns_to_convert = ['ocean_proximity']
df[columns_to_convert] = df[columns_to_convert].astype(int)

In [86]:
# # Apply divide the amount by 100K
# df['median_house_value'] = df['median_house_value'].apply(lambda n: n/100000)

In [87]:
df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0,-122.23,37.88,41,880,129,322,126,8.33,452600.0,0
1,1,-122.22,37.86,21,7099,1106,2401,1138,8.30,358500.0,0
2,2,-122.24,37.85,52,1467,190,496,177,7.26,352100.0,0
3,3,-122.25,37.85,52,1274,235,558,219,5.64,341300.0,0
4,4,-122.25,37.85,52,1627,280,565,259,3.85,342200.0,0
...,...,...,...,...,...,...,...,...,...,...,...
20635,20635,-121.09,39.48,25,1665,374,845,330,1.56,78100.0,2
20636,20636,-121.21,39.49,18,697,150,356,114,2.56,77100.0,2
20637,20637,-121.22,39.43,17,2254,485,1007,433,1.70,92300.0,2
20638,20638,-121.32,39.43,18,1860,409,741,349,1.87,84700.0,2
20639,20639,-121.24,39.37,16,2785,616,1387,530,2.39,89400.0,2

In [88]:


# ocean_proximity_dummies = pd.get_dummies(df['ocean_proximity'], prefix='ocean_proximity')

# df = df.drop('ocean_proximity', axis=1)
# # Concatenate the dummy variables with the original DataFrame
# df = pd.concat([df, ocean_proximity_dummies], axis=1)

# # Now, df contains the dummy variables for 'ocean_proximity'
# print(df.head())

In [89]:
# numeric_columns = df.select_dtypes(include=['float', 'int']).columns

# scaler = StandardScaler()
# df_scaled = scaler.fit_transform(df[numeric_columns])

# # Convert the scaled array back to a DataFrame with column names
# df_scaled = pd.DataFrame(df_scaled, columns=numeric_columns)

# df_scaled.head()

In [90]:
# final_df = pd.concat([df_scaled, ocean_proximity_dummies], axis=1)

# # Now 'final_df' contains the scaled numeric columns and dummy variables
# final_df.head()



---


# **Data Splitting**

In [91]:


# Drop the specified columns and create X and y
X = df.drop(["Unnamed: 0","median_house_value","longitude","latitude","total_rooms","population"], axis=1)
y = df['median_house_value']
print(X.shape, y.shape)

(20640, 5) (20640,)

In [92]:
X.head()

,housing_median_age,total_bedrooms,households,median_income,ocean_proximity
0,41,129,126,8.33,0
1,21,1106,1138,8.30,0
2,52,190,177,7.26,0
3,52,235,219,5.64,0
4,52,280,259,3.85,0

In [93]:
# Select the columns to be scaled
columns_to_scale = ['housing_median_age', 'total_bedrooms', 'households', 'median_income']

# Initialize the StandardScaler
scaler = StandardScaler()

# Scale the selected columns in X
X[columns_to_scale] = scaler.fit_transform(X[columns_to_scale])

In [94]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)

In [95]:
X.head()

,housing_median_age,total_bedrooms,households,median_income,ocean_proximity
0,0.982143,-0.975207,-0.977033,2.347252,0
1,-0.607019,1.355109,1.669961,2.331461,0
2,1.856182,-0.829711,-0.843637,1.784037,0
3,1.856182,-0.722378,-0.733781,0.931319,0
4,1.856182,-0.615046,-0.629157,-0.010882,0

In [ ]:
y



---


# **Creating a neural network**

# **1. Create a model**

In [96]:
model2 = tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(34, activation='relu'),
    tf.keras.layers.Dense(17, activation='relu'),
    tf.keras.layers.Dense(1)
])

## **2. Complie a model**

In [97]:
model2.compile(loss = tf.keras.losses.mae,
                        optimizer = tf.keras.optimizers.SGD(),
                        metrics = ["mae"]
                        )

# **3. Fit the model**

In [98]:
model2.fit(X_train,y_train,epochs=20)

Epoch 1/20
516/516 [==============================] - 1s 2ms/step - loss: 223880.2969 - mae: 223880.2969
Epoch 2/20
516/516 [==============================] - 1s 2ms/step - loss: 207187.5000 - mae: 207187.5000
Epoch 3/20
516/516 [==============================] - 1s 2ms/step - loss: 207181.8125 - mae: 207181.8125
Epoch 4/20
516/516 [==============================] - 1s 2ms/step - loss: 207176.6250 - mae: 207176.6250
Epoch 5/20
516/516 [==============================] - 1s 2ms/step - loss: 207171.4688 - mae: 207171.4688
Epoch 6/20
516/516 [==============================] - 1s 2ms/step - loss: 207166.2500 - mae: 207166.2500
Epoch 7/20
516/516 [==============================] - 1s 2ms/step - loss: 207161.3281 - mae: 207161.3281
Epoch 8/20
516/516 [==============================] - 1s 2ms/step - loss: 207156.0156 - mae: 207156.0156
Epoch 9/20
516/516 [==============================] - 1s 2ms/step - loss: 207150.8281 - mae: 207150.8281
Epoch 10/20
516/516 [==============================] - 1s 2ms/step - loss: 269361.5625 - mae: 269361.5625
Epoch 11/20
516/516 [==============================] - 1s 3ms/step - loss: 207140.6562 - mae: 207140.6562
Epoch 12/20
516/516 [==============================] - 1s 3ms/step - loss: 207135.3750 - mae: 207135.3750
Epoch 13/20
516/516 [==============================] - 2s 4ms/step - loss: 207130.3281 - mae: 207130.3281
Epoch 14/20
516/516 [==============================] - 2s 5ms/step - loss: 207125.1719 - mae: 207125.1719
Epoch 15/20
516/516 [==============================] - 3s 7ms/step - loss: 207120.0781 - mae: 207120.0781
Epoch 16/20
516/516 [==============================] - 2s 4ms/step - loss: 207114.7656 - mae: 207114.7656
Epoch 17/20
516/516 [==============================] - 1s 2ms/step - loss: 207109.5156 - mae: 207109.5156
Epoch 18/20
516/516 [==============================] - 1s 2ms/step - loss: 207104.5781 - mae: 207104.5781
Epoch 19/20
516/516 [==============================] - 1s 2ms/step - loss: 207099.3750 - mae: 207099.3750
Epoch 20/20
516/516 [==============================] - 1s 2ms/step - loss: 207094.2500 - mae: 207094.2500

In [99]:
y

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [100]:

# Generate some example data
np.random.seed(42)
num_samples = 1000
input_shape =9
X = np.random.random((num_samples, input_shape))
y = np.random.random((num_samples, 1))

# Create the regression model
model3 = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(input_shape,)),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)  # Linear activation for regression
])

In [101]:
# Compile the model
model3.compile(optimizer='adam', loss='mean_squared_error')

In [102]:
# Train the model
history = model3.fit(X_train, y_train, epochs=20, batch_size=32, verbose=1)

Epoch 1/20

ValueError: ignored

Best Model

In [107]:
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.regularizers import l2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Build a more complex model with regularization
model_regulization = Sequential()
model_regulization.add(Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)))
model_regulization.add(Dropout(0.3))
model_regulization.add(Dense(64, activation='relu', kernel_regularizer=l2(0.001)))
model_regulization.add(Dropout(0.3))
model_regulization.add(Dense(32, activation='relu', kernel_regularizer=l2(0.001)))
model_regulization.add(Dense(1))  # Output layer for regression


model_regulization.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
history = model_regulization.fit(X_train, y_train, epochs=20, batch_size=32, validation_data=(X_val_scaled, y_val), verbose=1)

# Evaluate the model on the validation set
val_loss = model_regulization.evaluate(X_val_scaled, y_val)
print("Validation Loss:", val_loss)

Epoch 1/20
25/25 [==============================] - 1s 11ms/step - loss: 0.2854 - val_loss: 0.2347
Epoch 2/20
25/25 [==============================] - 0s 4ms/step - loss: 0.2056 - val_loss: 0.2176
Epoch 3/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1884 - val_loss: 0.1954
Epoch 4/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1727 - val_loss: 0.1868
Epoch 5/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1655 - val_loss: 0.1717
Epoch 6/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1557 - val_loss: 0.1750
Epoch 7/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1532 - val_loss: 0.1728
Epoch 8/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1495 - val_loss: 0.1712
Epoch 9/20
25/25 [==============================] - 0s 5ms/step - loss: 0.1412 - val_loss: 0.1533
Epoch 10/20
25/25 [==============================] - 0s 5ms/step - loss: 0.1364 - val_loss: 0.1457
Epoch 11/20
25/25 [==============================] - 0s 5ms/step - loss: 0.1341 - val_loss: 0.1484
Epoch 12/20
25/25 [==============================] - 0s 5ms/step - loss: 0.1295 - val_loss: 0.1526
Epoch 13/20
25/25 [==============================] - 0s 5ms/step - loss: 0.1244 - val_loss: 0.1372
Epoch 14/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1239 - val_loss: 0.1331
Epoch 15/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1198 - val_loss: 0.1392
Epoch 16/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1170 - val_loss: 0.1467
Epoch 17/20
25/25 [==============================] - 0s 8ms/step - loss: 0.1161 - val_loss: 0.1302
Epoch 18/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1123 - val_loss: 0.1344
Epoch 19/20
25/25 [==============================] - 0s 7ms/step - loss: 0.1118 - val_loss: 0.1322
Epoch 20/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1099 - val_loss: 0.1214
7/7 [==============================] - 0s 2ms/step - loss: 0.1214
Validation Loss: 0.12135491520166397

In [104]:
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.regularizers import l1, l2
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Assuming you have X and y defined

# Split the data into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Build the neural network model
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)))
model.add(Dropout(0.3))
model.add(Dense(64, activation='relu', kernel_regularizer=l2(0.001)))
model.add(Dropout(0.3))
model.add(Dense(32, activation='relu', kernel_regularizer=l1(0.001)))  # You can try l2(0.001) here as well
model.add(Dense(1))  # Output layer for regression

# Compile the model with Adam optimizer and mean squared error loss
model.compile(optimizer=Adam(lr=0.001), loss='mean_squared_error')

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=20, batch_size=32, validation_data=(X_val_scaled, y_val), verbose=1)

# Evaluate the model on the validation set
val_loss = model.evaluate(X_val_scaled, y_val)
print("Validation Loss:", val_loss)

Epoch 1/20

/usr/local/lib/python3.10/dist-packages/keras/optimizers/legacy/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

25/25 [==============================] - 1s 10ms/step - loss: 0.4568 - val_loss: 0.4137
Epoch 2/20
25/25 [==============================] - 0s 5ms/step - loss: 0.4125 - val_loss: 0.3943
Epoch 3/20
25/25 [==============================] - 0s 4ms/step - loss: 0.3830 - val_loss: 0.3694
Epoch 4/20
25/25 [==============================] - 0s 4ms/step - loss: 0.3493 - val_loss: 0.3419
Epoch 5/20
25/25 [==============================] - 0s 5ms/step - loss: 0.3298 - val_loss: 0.3192
Epoch 6/20
25/25 [==============================] - 0s 4ms/step - loss: 0.3048 - val_loss: 0.3035
Epoch 7/20
25/25 [==============================] - 0s 4ms/step - loss: 0.2875 - val_loss: 0.2760
Epoch 8/20
25/25 [==============================] - 0s 4ms/step - loss: 0.2643 - val_loss: 0.2563
Epoch 9/20
25/25 [==============================] - 0s 4ms/step - loss: 0.2465 - val_loss: 0.2424
Epoch 10/20
25/25 [==============================] - 0s 4ms/step - loss: 0.2330 - val_loss: 0.2250
Epoch 11/20
25/25 [==============================] - 0s 5ms/step - loss: 0.2172 - val_loss: 0.2183
Epoch 12/20
25/25 [==============================] - 0s 4ms/step - loss: 0.2078 - val_loss: 0.2002
Epoch 13/20
25/25 [==============================] - 0s 4ms/step - loss: 0.1965 - val_loss: 0.1919
Epoch 14/20
25/25 [==============================] - 0s 4ms/step - loss: 0.1866 - val_loss: 0.1820
Epoch 15/20
25/25 [==============================] - 0s 4ms/step - loss: 0.1774 - val_loss: 0.1726
Epoch 16/20
25/25 [==============================] - 0s 5ms/step - loss: 0.1690 - val_loss: 0.1694
Epoch 17/20
25/25 [==============================] - 0s 4ms/step - loss: 0.1629 - val_loss: 0.1589
Epoch 18/20
25/25 [==============================] - 0s 4ms/step - loss: 0.1545 - val_loss: 0.1542
Epoch 19/20
25/25 [==============================] - 0s 4ms/step - loss: 0.1493 - val_loss: 0.1476
Epoch 20/20
25/25 [==============================] - 0s 6ms/step - loss: 0.1456 - val_loss: 0.1434
7/7 [==============================] - 0s 2ms/step - loss: 0.1434
Validation Loss: 0.1434047967195511

In [105]:


# Calculate MSE from the loss history
mse_history = [loss for loss in history.history['loss']]

# Print the loss and MSE from the training history
print("Loss history:", history.history['loss'])
print("Mean Squared Error history:", mse_history)

Loss history: [0.4568236172199249, 0.41251152753829956, 0.38300442695617676, 0.3493245840072632, 0.32984793186187744, 0.3047717213630676, 0.28753161430358887, 0.2643405795097351, 0.24648286402225494, 0.2329917848110199, 0.21717822551727295, 0.20782430469989777, 0.19650781154632568, 0.18663093447685242, 0.17740598320960999, 0.16901785135269165, 0.16294008493423462, 0.15447883307933807, 0.14928056299686432, 0.14559103548526764]
Mean Squared Error history: [0.4568236172199249, 0.41251152753829956, 0.38300442695617676, 0.3493245840072632, 0.32984793186187744, 0.3047717213630676, 0.28753161430358887, 0.2643405795097351, 0.24648286402225494, 0.2329917848110199, 0.21717822551727295, 0.20782430469989777, 0.19650781154632568, 0.18663093447685242, 0.17740598320960999, 0.16901785135269165, 0.16294008493423462, 0.15447883307933807, 0.14928056299686432, 0.14559103548526764]

In [108]:
# Create a dictionary to hold the model information
model_info = {
    'architecture': model_regulization.to_json(),
    'weights': model_regulization.get_weights()
}

# Save the model dictionary using pickle
with open("model_regulization.pkl", "wb") as f:
    pickle.dump(model_info, f)

In [ ]:
# Create a dictionary to hold the model information
model_info = {
    'architecture': model3.to_json(),
    'weights': model3.get_weights()
}

# Save the model dictionary using pickle
with open("model3.pkl", "wb") as f:
    pickle.dump(model_info, f)

In [ ]:
X_train_scaled.columns